#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_146 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_3 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #017C42;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_6 {
  -pie-background: linear-gradient(to right,#D9D9D9,#434343 50%,#D9D9D9);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_8 {
  -pie-background: linear-gradient(to right,#D9D9D9,#434343 50%,#D9D9D9);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #047E43;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #047E43;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #047E43;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #047E43;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Triangle_1 {
  -ms-transform: rotate(90.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #67971A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #67971A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #67971A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #67971A;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #67971A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #67971A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #67971A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #67971A;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-35e89752-3716-4f58-be72-a11e290605c1 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-35e89752-3716-4f58-be72-a11e290605c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}