#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-97904c60-f0df-4b85-87e2-8e73d871e36e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}