#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}