#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_146 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #047E43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #047E43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #047E43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #047E43;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 24px;
  width: 144px;
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #047E43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #047E43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #047E43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #047E43;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 24px;
  width: 144px;
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #047E43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #047E43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #047E43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #047E43;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 24px;
  width: 144px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}