#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 > #alignmentBox {
  position: relative;
  max-width: 408px;
  max-height: 830px;
  width: 100%;
  height: 100%;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_7 {
  position: absolute;
  width: 410px;
  height: 830px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_7 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_7 > svg {
  height: 830px;
  width: 410px;
  box-shadow: 7px 7px 5px 0px #404040;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_14 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_2 marker {
  fill: #C0C0C0;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 232px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_2 {
  width: 232px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #C0C0C0;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_3 marker {
  fill: #C0C0C0;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 26px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_3 {
  width: 26px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #C0C0C0;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_18 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_18 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_18 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_18 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_8 {
  position: absolute;
  width: 137px;
  height: 136px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_8 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_8 > svg {
  height: 134px;
  width: 135px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 68px 68px 68px 68px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_4 marker {
  fill: #C0C0C0;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 26px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_4 {
  width: 26px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #C0C0C0;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_20 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_20 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_20 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_21 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_21 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_21 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_21 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_22 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_22 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_22 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_23 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_23 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_23 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_23 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_24 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_24 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_24 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_24 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_25 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_25 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_25 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_25 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_26 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_26 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_26 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_26 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_26 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_27 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_27 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_27 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_27 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled {
  position: absolute;
  width: 53px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled > .paddingLayer {
  height: 34px;
  width: 51px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled span#rtr-s-raised_Button_disabled_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_1 {
  position: absolute;
  width: 78px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_1 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_1 > .paddingLayer {
  height: 34px;
  width: 76px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_1 span#rtr-s-raised_Button_disabled_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_2 {
  position: absolute;
  width: 78px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_2 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_2 > .paddingLayer {
  height: 34px;
  width: 76px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_2 span#rtr-s-raised_Button_disabled_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_28 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_28 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_28 > .clipping, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_28 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_9 {
  position: absolute;
  width: 28px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_9 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_9 > svg {
  height: 25px;
  width: 28px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_10 {
  position: absolute;
  width: 28px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_10 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_10 > svg {
  height: 25px;
  width: 28px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_11 {
  position: absolute;
  width: 28px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_11 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_11 > svg {
  height: 25px;
  width: 28px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_12 {
  position: absolute;
  width: 28px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_12 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_12 > svg {
  height: 25px;
  width: 28px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_13 {
  position: absolute;
  width: 28px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_13 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_13 > svg {
  height: 25px;
  width: 28px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_14 {
  position: absolute;
  width: 28px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_14 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_14 > svg {
  height: 25px;
  width: 28px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_15 {
  position: absolute;
  width: 28px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_15 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_15 > svg {
  height: 25px;
  width: 28px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_16 {
  position: absolute;
  width: 28px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_16 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_16 > svg {
  height: 25px;
  width: 28px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_17 {
  position: absolute;
  width: 28px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_17 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_17 > svg {
  height: 25px;
  width: 28px;
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_1 {
  position: absolute;
  width: 150px;
  height: 725px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_1 > img, #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_1 > svg {
  height: 725px;
  width: 150px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}