#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_2 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_2 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_3 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_3 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_4 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_4 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 51px;
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 76px;
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-raised_Button_disabled_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 76px;
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}